<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FTP.Properties.Settings>
            <setting name="FTP_SERVER_URI" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="FTP_SERVER_ID" serializeAs="String">
                <value>gofogo</value>
            </setting>
            <setting name="FTP_SERVER_PASSWORD" serializeAs="String">
                <value>2</value>
            </setting>
        </FTP.Properties.Settings>
    </userSettings>
</configuration>