<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebServerUri" value="http://127.0.0.1:3000" />
    <add key="DurationTimeSec" value="30" />
    <add key="GroupIp" value="224.0.0.201" />
    <add key="GroupPort" value="8080" />
    <add key="SizeWidth" value="1080" />
    <add key="SizeHeight" value="1920" />
  </appSettings>
</configuration>