<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LotteCinemaService.Database.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LotteCinemaService.Database.Configuration.Properties.Settings>
      <setting name="ticket_db_name" serializeAs="String">
        <value>lcnew</value>
      </setting>
      <setting name="ticket_db_addr" serializeAs="String">
        <value>10.51.242.10,7701</value>
      </setting>
      <setting name="ticket_db_id" serializeAs="String">
        <value>lces_select</value>
      </setting>
      <setting name="ticket_db_pw" serializeAs="String">
        <value>select</value>
      </setting>
      <setting name="web_db_addr" serializeAs="String">
        <value>10.51.241.245,7702</value>
      </setting>
      <setting name="web_db_name" serializeAs="String">
        <value>LHS</value>
      </setting>
      <setting name="web_db_id" serializeAs="String">
        <value>lces_select</value>
      </setting>
      <setting name="web_db_pw" serializeAs="String">
        <value>select</value>
      </setting>
    </LotteCinemaService.Database.Configuration.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
